<div class="nested-fields">
<span>Name: <%= form.text_field :name %></span>
<span><%= form.select :amount, options_for_select((0..20)), :class => 'genForm_dropBox' %></span>
<!-- <span>Finished?: <%#= form.check_box :done %></span> -->
<span><%#= link_to_remove_association "-", form, class: "btn btn-default" %></span>
</div>