<div class="nested-fields">
<span>Name: <%= form.text_field :name %></span>
<span>Quantity: <%= form.text_field :amount %></span>
<span>Finished?: <%= form.check_box :done %></span>
<span><%#= link_to_remove_association "-", form, class: "btn btn-default" %></span>
</div>