<table>
 
<thead>
  <th>NO.</th>
  <th>Name</th>
  <th>Amount</th>
  <th>Finished?</th>
</thead>
<% @fridge.each_with_index do |fridge, index|%>
<tbody>
  <td><%= index + 1%></td>
  <td><%= fridge.name %></td>
  <td><%= fridge.amount %></td>
  <td><%#= fridge.done %></td>
  <td><%= link_to user_fridge_path(@user,fridge.id), method: :delete, data: {confirm:"Are you sure?"}, class: "btn btn-default"%>
  </td>
</tbody
<%end%>
</table>