Create Account

<%= form_for @user do |form|%>
<% @user.errors.full_messages.each do |msg| %>
<%byebug%>
<%= msg %>
<%end%>
<%= render partial: "/users/form", object: form %>
<div>
<%= form.submit "Submit"%>
</div>
<%end%>