/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


@import "bootstrap-sprockets";
@import "bootstrap";

.container-fluid{
  width: 90%;
  margin: 0 auto;
}

.search-form{
  text-align: center;
  background-color: skyblue;
  padding: 10px 20px;
  margin: 0 50px;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

.col-md-4 {
    width: 33.3333333333%;
    padding: 10px 50px;
}

.show-list{
  clear: left;
  float: left;
}

.list{
  display: none;
  clear: left;
  width: 50%;
}

.show-recipe{
  float: right;
  clear: right;
  width: 60%;
}

.list-index{
  background-color: blanchedalmond;
  position: absolute;
  z-index: 10;
}