<h1><u>New Recipe</u></h1>

<%= form_for @recipe, url: new_recipe_path do |form| %>
  <%= render partial: "/recipe/form", object: form %>

<div>
  <%= form.submit "Save", data: { confirm: "Save Recipe?" }%>
</div>
<%end%>